body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-image: url("./index_files/backround/backround.png");
  background-repeat: repeat-x;
  background-size: auto;
  margin-right: auto;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-size: 27px;
  margin: 0%;
}
h3 {
  font-size: 24px;
  margin: 0%;
}
h6 {
  color: #ffffffab;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  margin-bottom: 5px;
}
a {
  color: #000;
  text-decoration: none;
}

footer {
  color: #ffffff60;
}
a:hover {
  text-decoration: underline;
}

.row {
  margin-left: auto;
  --bs-gutter-x: 0;
}
#webgl {
  object-position: bottom;
}

.container .my-3 .row > * {
  margin: 0;
  padding: 0;
}

.nav {
  nav {
    background-color: #333;
    display: flex;
    align-items: center;
  }
}

.nav-container {
  max-width: 240px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-brand {
  font-size: 24px;
}
